<template>
  <div>
    <v-card width="320">
      <v-img :src="profileImg" height="200px" />
      <v-card-title>Profile</v-card-title>
      <v-card-text>
        <div>Name: {{ firstname }}</div>
        <div>University: {{ university }}</div></v-card-text
      >
    </v-card>
  </div>
</template>

<script>
export default {
  name: "MeCard",

  props: {
    profileImg: String,
    firstname: String,
    university: String,
  },
};
</script>

<style></style>
