<template>
  <div class="cards">
    <v-card width="320">
      <v-img height="200px" :src="img" />
      <v-card-title>{{ name }}</v-card-title>
      <v-card-text>{{ desc }}</v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "MovieCard",
  props: {
    name: String,
    img: String,
    desc: String,
  },
};
</script>

<style>
.cards {
  margin-right: 1rem;
}
</style>
